@model is_aud1.Models.Product
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>
    The product @Model.ProductName is added to your shopping cart.
</h1>