@model IEnumerable<is_aud1.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model) {
 
<div class="row">
    <div class="col-md-12">
        <img src="@item.ProductImage" style="max-width: 100px" />
    </div>

    <div class="col-sm-2">
        <a asp-action="Details" asp-route-id="@item.ProductId">@Html.DisplayFor(modelItem => item.ProductName)</a>
    </div>
</div>
}
